<header>
<nav class="nav">
        <div class="content">
				<br>
            <!-- Logo -->
            <!-- <span style="color: #555;">Cricket</span> -->
            <div class="nav-left" >
                <a class="brand" href="{{ '/' | locale_url | url }}" title="{{ home }}";>
                    <img src="{{ '/img/green-ball-hand.png' | url }}" alt="Lords Cricket logo" width="60" height="49">
                    {{ data.title[lang] or data.title[data.languages[0]] }}
                </a>
            </div><br>
                <p>5-a-side tennis ball cricket for wannabes and hasbeens</p>
            <div class="nav-right">
                <!-- Pages -->
                <div class="tabs">
                    <a href="{{ '/' | locale_url | url }}"> {{ home }}</a>
                    <a href="{{ '/about' | locale_url | url }}"> {{ about }}</a>
                    <a href="{{ '/blog' | locale_url | url }}"> {{ blog }}</a>
                    <a href="{{ '/rules-green-ball' | locale_url | url }}"> {{ rules }}</a>
                    <a href="{{ '/season-current' | locale_url | url }}"> {{ season }}</a>
                    <!-- Dark / light mode switcher -->
                    <div id="nightModeWrapper">
                        <button id="nightModeButton" class="button icon-only" title="Color schema switch"
                                aria-label="Color schema switch">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 -2 24 24" width="24"
                                 fill="var(--font-color)">
                                <path
                                      d="M10 18c.112 0 .112-5.333 0-16a8 8 0 1 0 0 16zm0 2C4.477 20 0 15.523 0 10S4.477 0 10 0s10 4.477 10 10-4.477 10-10 10z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- -- New !! -- Banner -->
        <!-- Originally Fork-Me-On-Gitlab-Ribbon-HTML. Based on https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
        <span class="bd-success bg-light" style="font-size: 2rem; font-weight: bold; text-align:center; position:fixed; width: 350px; top:60px; right:-120px;
            display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg); 
            padding: 4px 12px 4px 0px; z-index:99">
            <span>in development</span>
        </span>
        <!-- End In-Development Banner -->
    </nav>
</header>
