---
title: "rules"
layout: "base.html"
---

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>About Lords Cricket</h1>
            <p>
						Green Ball cricket is fun!
            </p>
<div>
So long and thanks for all the nerds!
        </div>

        <div class="col-4" style="padding: 2rem;">
            {% include "components/bio.html" %}
            <hr style="background-color: transparent">
            {% include "components/latest-posts.html" %}
        </div>

    </div>

</div>
