---
title: "Home"
layout: "base.html"
---
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital@0;1&display=swap" rel="stylesheet"><div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center;">
  <img src="/img/header.png" alt="LordsCricket banner with green balls, maximums and maximum carnage"> </div>
</div>
        <div class="col-8">
						<!-- text-shadow effect applied to About us in original -->
            <h1>About Us</h1>
            <p>
Welcome to <strong>Lords Cricket Club</strong> – <i>the home of Green Ball Cricket</i>.

<p>Green Ball Cricket is for those who want to play fun, friendly games without worrying about safety equipment, umpires and club commitments.</p>

<p>Yes you can have a cricket ‘career’ – with all your averages and stats and scoresheets, player ratings, match reports and – oh yes – the joy of playing cricket together.</p>

<p>Green Ball Cricket works just fine with players of mixed ages and abilities – and only 10 players are needed for a great game. There’s one simple page of rules – check it out <a href="en/rules">here</a>.</p>

<p>Keep an eye out here for up-coming games – or browse the stats and reports of our long history.</p>

<p>And stay posted for the capability to <a href="en/host">host</a> your own games – we’re working on that.</p>



    <p><div class="col-12" style="padding: 0rem;">
            <hr style="background-color: transparent">
            {% include "components/latest-posts.html" %}</p></div>
    <p><div class="col-4" style="padding: 0rem;">
            {% include "components/bio.html" %}</p></div>
</div>

