---
title: "Home"
layout: "base.html"
---
<head><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap" rel="stylesheet">
</head>

<div class="container">
    <div class="row">
        <div class="col-12" style="text-align: center;">
  <img src="/img/header.png" alt="LordsCricket banner with green balls, maximums and maximum carnage"> </div>
</div>
        <div class="col-8">
						<!-- text-shadow effect applied to About us in original -->
            <h1>About Us</h1>
            <p>
Lords Cricket is slightly organised, easy to play, 5ish-a-side tennis-ball cricket. It’s fun and it’s pretentious. We keep scores. We keep stats. We keep rolling the arm over.
</p>
<p>Lords Cricket is for those of us who love the game but can’t fathom the idea of (a) playing more than about once a month over the summer, (b) training in any form, (c) safety equipment or (d) umpires. We do, however, like the idea of having a cricket “career” – a batting average and bowling strike rate, and particularly, laughing at each other.
</p>
<p>Lords Cricket works just fine with players of mixed ages and abilities – and only 10 players are needed for a great game. There’s one <a href='/en/rules-green-ball'>simple page of rules</a>.
</p>
<p>For more information, email <a href='mailto:andrew.ian.turner@gmail.com'>andrew.ian.turner@gmail.com</a>  On X, (previously Twitter), we’re (previously) @lordscricket
</p>
<strong>Host Your Own Games</strong><br>
Interested in joining our Lords Cricket league? Let us know. As long as you’re not very good.

        </div>

    <p><div class="col-4" style="padding: 0rem;">
            {% include "components/bio.html" %}</p></div>
    <p><div class="col-12" style="padding: 0rem;">
            <hr style="background-color: transparent">
            {% include "components/latest-posts.html" %}</p></div>
</div>

