name: Push, creating an archive
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Archive Release
      uses: thedoctor0/zip-release@0.7.5
      with:
        type: 'zip'
        directory: public
        filename: 'lords-site-packaged.zip'
        exclusions: '*.git* /*node_modules/* .editorconfig dev.sh testing_data.json *pages.js netlify.js push-production.sh'
    - name: Upload Release
      uses: ncipollo/release-action@v1.12.0
          with:
            artifacts: "lords-site-packaged.zip"
            token: "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"
